name: Tests

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  go-test:
    name: Go Unit Tests
    permissions:
      id-token: write
      contents: read
    uses: harryzcy/github-actions/.github/workflows/go.yml@5ad3ba2eb4c9db05978922cd0a449a02a9e5faa9 # main
    with:
      latest: 1

  integration-test:
    name: Integration Tests
    needs: go-test
    strategy:
      matrix:
        go-version: ["1.25", "1.26"]
        arch: ["amd64", "arm64"]
    runs-on: ${{ matrix.arch == 'amd64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    permissions:
      id-token: write
    services:
      dynamodb:
        image: amazon/dynamodb-local@sha256:d89f8fcc6b1a39cb35976c248ed42a28c66ae00dc043099210f5571e42648ab4 # v2.2.0
        ports:
          - 8000:8000
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true

      - name: Run integration tests
        run: go test -race -coverprofile=coverage.txt -covermode=atomic ./integration/...
        env:
          DYNAMODB_TABLE: test
          DYNAMODB_ORIGINAL_INDEX: OriginalMessageIDIndex

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: ./coverage.txt
          use_oidc: true

  scripts:
    name: Script Tests
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-15, macos-26]
        node-version: [22.x, 24.x]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true

      - name: Install serverless
        run: npm install serverless@v3

      - name: Copy over config
        run: cp serverless.yml.example serverless.yml

      - name: Test
        run: npx serverless print
